In [26]:
import pandas as pd

PATH_DATA = "Dados/engajamento.xlsx"

df = pd.read_excel(PATH_DATA)

display(df.head())

,Tipo,Data,Curtidas,Comentários,Visualizações,Tags,Pessoas,Campanhas,Carrossel,Interacoes
0,Foto,2021-09-11,2858,16,NaN,Loja,N,N,NaN,2874
1,Foto,2021-09-11,2930,28,NaN,Loja/Produtos,N,N,NaN,2958
2,Foto,2021-09-11,2807,9,NaN,Loja,N,N,NaN,2816
3,Vídeo,2021-09-12,5115,49,82878.0,Produtos,N,N,NaN,5164
4,Foto,2021-09-13,4392,45,NaN,Produtos,S,N,NaN,4437

In [27]:
# Quais são as colunas que nós temos:

print(df.columns.tolist())

['Tipo', 'Data', 'Curtidas', 'Comentários', 'Visualizações', 'Tags', 'Pessoas', 'Campanhas', 'Carrossel', 'Interacoes ']

In [28]:
# Verificando como estão os dados e linhas nulas

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Tipo           52 non-null     object
 1   Data           52 non-null     datetime64[ns]
 2   Curtidas       52 non-null     int64
 3   Comentários    52 non-null     int64
 4   Visualizações  15 non-null     float64
 5   Tags           44 non-null     object
 6   Pessoas        52 non-null     object
 7   Campanhas      52 non-null     object
 8   Carrossel      8 non-null      object
 9   Interacoes     52 non-null     int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(5)
memory usage: 4.2+ KB
None

In [29]:
print(df.shape)

(52, 10)

### Já temos algumas informações importantes:
1. Ao todo temos 10 colunas
2. Temos apenas 52 linhas para analisar (no caso, 52 postagens, foto ou vídeo)
3. As colunas "Carrosel" e "Visualizações" tem muitos itens nulos, vale a pena investigar se vale a pena manter essas colunas em nossa análise

In [30]:
# Vamos descobrir como estão os valores desses dados

display(df.describe())

,Data,Curtidas,Comentários,Visualizações,Interacoes
count,52,52.000000,52.000000,15.000000,52.000000
mean,2021-12-23 04:36:55.384615424,12262.730769,189.500000,53295.933333,12452.230769
min,2021-09-11 00:00:00,2807.000000,9.000000,12627.000000,2816.000000
25%,2021-10-23 06:00:00,5492.000000,69.500000,23625.000000,5562.500000
50%,2022-01-05 00:00:00,9603.000000,128.000000,67205.000000,9773.500000
75%,2022-02-15 12:00:00,17621.750000,265.250000,71686.000000,17920.750000
max,2022-03-27 00:00:00,37351.000000,852.000000,92120.000000,37853.000000
std,NaN,8165.875326,170.687709,26975.183215,8299.390088

In [31]:
display(df.describe(exclude='number'))

,Tipo,Data,Tags,Pessoas,Campanhas,Carrossel
count,52,52,44,52,52,8
unique,4,NaN,12,2,2,1
top,Foto,NaN,Produtos,S,N,S
freq,36,NaN,12,40,30,8
mean,NaN,2021-12-23 04:36:55.384615424,NaN,NaN,NaN,NaN
min,NaN,2021-09-11 00:00:00,NaN,NaN,NaN,NaN
25%,NaN,2021-10-23 06:00:00,NaN,NaN,NaN,NaN
50%,NaN,2022-01-05 00:00:00,NaN,NaN,NaN,NaN
75%,NaN,2022-02-15 12:00:00,NaN,NaN,NaN,NaN
max,NaN,2022-03-27 00:00:00,NaN,NaN,NaN,NaN

In [32]:
df[["Carrossel","Visualizações"]]

   Carrossel  Visualizações
0        NaN            NaN
1        NaN            NaN
2        NaN            NaN
3        NaN        82878.0
4        NaN            NaN
5          S            NaN
6        NaN            NaN
7        NaN            NaN
8          S            NaN
9        NaN        73174.0
10       NaN        92120.0
11       NaN            NaN
12         S            NaN
13       NaN            NaN
14       NaN            NaN
15       NaN        25336.0
16       NaN        70198.0
17       NaN        21914.0
18       NaN        68943.0
19       NaN            NaN
20       NaN            NaN
21         S            NaN
22       NaN            NaN
23       NaN            NaN
24       NaN        68726.0
25         S            NaN
26         S            NaN
27       NaN            NaN
28         S            NaN
29       NaN            NaN
30       NaN            NaN
31       NaN            NaN
32       NaN        60964.0
33       NaN            NaN
34       NaN            NaN
35       NaN        73342.0
36       NaN            NaN
37       NaN        46397.0
38       NaN            NaN
39       NaN            NaN
40         S            NaN
41       NaN            NaN
42       NaN            NaN
43       NaN            NaN
44       NaN        17819.0
45       NaN        67205.0
46       NaN            NaN
47       NaN        17796.0
48       NaN            NaN
49       NaN            NaN
50       NaN            NaN
51       NaN        12627.0

In [33]:
# Nos foi orientado de ignorar a coluna "Visaulizações" e a coluna "Carrossel" não faz sentido também por conta da pouca quantidade de dados
print(df.columns.tolist())
df = df.drop(columns=["Carrossel","Visualizações"])

# Verificar se foram apagadas
print(df.columns.tolist())

['Tipo', 'Data', 'Curtidas', 'Comentários', 'Visualizações', 'Tags', 'Pessoas', 'Campanhas', 'Carrossel', 'Interacoes ']
['Tipo', 'Data', 'Curtidas', 'Comentários', 'Tags', 'Pessoas', 'Campanhas', 'Interacoes ']

In [35]:
# Com o describe nós já conseguimos ver os valores únicos, mas para visualizar melhor:

display(df.nunique())

Tipo            4
Data           50
Curtidas       52
Comentários    49
Tags           12
Pessoas         2
Campanhas       2
Interacoes     52
dtype: int64

### Importante até agora:

- Até o momento já sabemos que existem 4 tipos diferentes de postagens
- 12 tipos diferentes de tags
- 2 tipos para a coluna "Pessoas"
- 2 tipos para a coluna "Campanhas"

-- Vamos agora verificar o que são esses tipos em cada coluna

In [37]:
tipo = df["Tipo"].unique().tolist()
tags = df["Tags"].unique().tolist()
pessoas = df["Pessoas"].unique().tolist()
campanhas = df["Campanhas"].unique().tolist()

print(f"Tipos: {tipo}\nTags: {tags}\nPessoas: {pessoas}\nCampanhas: {campanhas}")

Tipos: ['Foto', 'Vídeo', 'Reels', 'IGTV']
Tags: ['Loja', 'Loja/Produtos', 'Produtos', 'Novos Produtos', 'Trends/Produtos', nan, 'Promoções', 'Datas comemorativas', 'Influenciadores', 'Trends', 'Dicas de como usar/Produtos', 'Dicas de como usar/Novos Produtos', 'Datas comemorativas/Promoções']
Pessoas: ['N', 'S']
Campanhas: ['N', 'S']