In [18]:
import pandas as pd

PATH_DATA = "Dados/engajamento.xlsx"

df = pd.read_excel(PATH_DATA)

display(df.head())

,Tipo,Data,Curtidas,Comentários,Visualizações,Tags,Pessoas,Campanhas,Carrossel,Interacoes
0,Foto,2021-09-11,2858,16,NaN,Loja,N,N,NaN,2874
1,Foto,2021-09-11,2930,28,NaN,Loja/Produtos,N,N,NaN,2958
2,Foto,2021-09-11,2807,9,NaN,Loja,N,N,NaN,2816
3,Vídeo,2021-09-12,5115,49,82878.0,Produtos,N,N,NaN,5164
4,Foto,2021-09-13,4392,45,NaN,Produtos,S,N,NaN,4437

In [19]:
# Quais são as colunas que nós temos:

print(df.columns.tolist())

['Tipo', 'Data', 'Curtidas', 'Comentários', 'Visualizações', 'Tags', 'Pessoas', 'Campanhas', 'Carrossel', 'Interacoes ']

In [20]:
# Verificando como estão os dados e linhas nulas

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Tipo           52 non-null     object
 1   Data           52 non-null     datetime64[ns]
 2   Curtidas       52 non-null     int64
 3   Comentários    52 non-null     int64
 4   Visualizações  15 non-null     float64
 5   Tags           44 non-null     object
 6   Pessoas        52 non-null     object
 7   Campanhas      52 non-null     object
 8   Carrossel      8 non-null      object
 9   Interacoes     52 non-null     int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(5)
memory usage: 4.2+ KB
None

In [21]:
print(df.shape)

(52, 10)

### Já temos algumas informações importantes:
1. Ao todo temos 10 colunas
2. Temos apenas 52 linhas para analisar (no caso, 52 postagens, foto ou vídeo)
3. As colunas "Carrosel" e "Visualizações" tem muitos itens nulos, vale a pena investigar se vale a pena manter essas colunas em nossa análise

In [22]:
# Vamos descobrir como estão os valores desses dados

display(df.describe())

,Data,Curtidas,Comentários,Visualizações,Interacoes
count,52,52.000000,52.000000,15.000000,52.000000
mean,2021-12-23 04:36:55.384615424,12262.730769,189.500000,53295.933333,12452.230769
min,2021-09-11 00:00:00,2807.000000,9.000000,12627.000000,2816.000000
25%,2021-10-23 06:00:00,5492.000000,69.500000,23625.000000,5562.500000
50%,2022-01-05 00:00:00,9603.000000,128.000000,67205.000000,9773.500000
75%,2022-02-15 12:00:00,17621.750000,265.250000,71686.000000,17920.750000
max,2022-03-27 00:00:00,37351.000000,852.000000,92120.000000,37853.000000
std,NaN,8165.875326,170.687709,26975.183215,8299.390088

In [23]:
display(df.describe(exclude='number'))

,Tipo,Data,Tags,Pessoas,Campanhas,Carrossel
count,52,52,44,52,52,8
unique,4,NaN,12,2,2,1
top,Foto,NaN,Produtos,S,N,S
freq,36,NaN,12,40,30,8
mean,NaN,2021-12-23 04:36:55.384615424,NaN,NaN,NaN,NaN
min,NaN,2021-09-11 00:00:00,NaN,NaN,NaN,NaN
25%,NaN,2021-10-23 06:00:00,NaN,NaN,NaN,NaN
50%,NaN,2022-01-05 00:00:00,NaN,NaN,NaN,NaN
75%,NaN,2022-02-15 12:00:00,NaN,NaN,NaN,NaN
max,NaN,2022-03-27 00:00:00,NaN,NaN,NaN,NaN

In [24]:
df[["Carrossel","Visualizações"]]

   Carrossel  Visualizações
0        NaN            NaN
1        NaN            NaN
2        NaN            NaN
3        NaN        82878.0
4        NaN            NaN
5          S            NaN
6        NaN            NaN
7        NaN            NaN
8          S            NaN
9        NaN        73174.0
10       NaN        92120.0
11       NaN            NaN
12         S            NaN
13       NaN            NaN
14       NaN            NaN
15       NaN        25336.0
16       NaN        70198.0
17       NaN        21914.0
18       NaN        68943.0
19       NaN            NaN
20       NaN            NaN
21         S            NaN
22       NaN            NaN
23       NaN            NaN
24       NaN        68726.0
25         S            NaN
26         S            NaN
27       NaN            NaN
28         S            NaN
29       NaN            NaN
30       NaN            NaN
31       NaN            NaN
32       NaN        60964.0
33       NaN            NaN
34       NaN            NaN
35       NaN        73342.0
36       NaN            NaN
37       NaN        46397.0
38       NaN            NaN
39       NaN            NaN
40         S            NaN
41       NaN            NaN
42       NaN            NaN
43       NaN            NaN
44       NaN        17819.0
45       NaN        67205.0
46       NaN            NaN
47       NaN        17796.0
48       NaN            NaN
49       NaN            NaN
50       NaN            NaN
51       NaN        12627.0

In [25]:
# Foi indicado que na coluna de carrossel deveríamos trocar os valores nulos por "N", para indicar que não foi um carrossel

df.loc[df["Carrossel"].isnull(), "Carrossel"] = "N"
display(df["Carrossel"])

0     N
1     N
2     N
3     N
4     N
5     S
6     N
7     N
8     S
9     N
10    N
11    N
12    S
13    N
14    N
15    N
16    N
17    N
18    N
19    N
20    N
21    S
22    N
23    N
24    N
25    S
26    S
27    N
28    S
29    N
30    N
31    N
32    N
33    N
34    N
35    N
36    N
37    N
38    N
39    N
40    S
41    N
42    N
43    N
44    N
45    N
46    N
47    N
48    N
49    N
50    N
51    N
Name: Carrossel, dtype: object

In [26]:
# Nos foi orientado de ignorar a coluna "Visaulizações" e a coluna "Carrossel" não faz sentido também por conta da pouca quantidade de dados
print(df.columns.tolist())
df = df.drop(columns=["Visualizações"])

# Verificar se foram apagadas
print(df.columns.tolist())

['Tipo', 'Data', 'Curtidas', 'Comentários', 'Visualizações', 'Tags', 'Pessoas', 'Campanhas', 'Carrossel', 'Interacoes ']
['Tipo', 'Data', 'Curtidas', 'Comentários', 'Tags', 'Pessoas', 'Campanhas', 'Carrossel', 'Interacoes ']

In [27]:
# Com o describe nós já conseguimos ver os valores únicos, mas para visualizar melhor:

display(df.nunique())

Tipo            4
Data           50
Curtidas       52
Comentários    49
Tags           12
Pessoas         2
Campanhas       2
Carrossel       2
Interacoes     52
dtype: int64

### Importante até agora:

- Até o momento já sabemos que existem 4 tipos diferentes de postagens
- 12 tipos diferentes de tags
- 2 tipos para a coluna "Pessoas"
- 2 tipos para a coluna "Campanhas"

-- Vamos agora verificar o que são esses tipos em cada coluna

In [30]:
tipo = df["Tipo"].unique().tolist()
tags = df["Tags"].unique().tolist()
pessoas = df["Pessoas"].unique().tolist()
campanhas = df["Campanhas"].unique().tolist()
carrossel = df["Carrossel"].unique().tolist()

print(f"Tipos: {tipo}\nTags: {tags}\nPessoas: {pessoas}\nCampanhas: {campanhas}\nCarrossel: {carrossel}")

Tipos: ['Foto', 'Vídeo', 'Reels', 'IGTV']
Tags: ['Loja', 'Loja/Produtos', 'Produtos', 'Novos Produtos', 'Trends/Produtos', nan, 'Promoções', 'Datas comemorativas', 'Influenciadores', 'Trends', 'Dicas de como usar/Produtos', 'Dicas de como usar/Novos Produtos', 'Datas comemorativas/Promoções']
Pessoas: ['N', 'S']
Campanhas: ['N', 'S']
Carrossel: ['N', 'S']

In [37]:
# Tranformar o resultado das transformações em csv

df.to_excel("Dados/engajamento_tratado.xlsx", index=False)

In [34]:
df

,Tipo,Data,Curtidas,Comentários,Tags,Pessoas,Campanhas,Carrossel,Interacoes
0,Foto,2021-09-11,2858,16,Loja,N,N,N,2874
1,Foto,2021-09-11,2930,28,Loja/Produtos,N,N,N,2958
2,Foto,2021-09-11,2807,9,Loja,N,N,N,2816
3,Vídeo,2021-09-12,5115,49,Produtos,N,N,N,5164
4,Foto,2021-09-13,4392,45,Produtos,S,N,N,4437
5,Foto,2021-09-17,5359,62,Novos Produtos,N,S,S,5421
6,Foto,2021-09-19,21597,852,Novos Produtos,S,S,N,22449
7,Foto,2021-09-25,6346,33,Produtos,N,S,N,6379
8,Foto,2021-09-27,6355,89,Produtos,S,N,S,6444
9,Vídeo,2021-09-28,4056,81,Produtos,N,N,N,4137
10,Reels,2021-10-10,12894,249,Trends/Produtos,S,N,N,13143
11,Foto,2021-10-12,17831,391,NaN,S,S,N,18222
12,Foto,2021-10-21,6166,55,Novos Produtos,S,S,S,6221
13,Foto,2021-10-24,15940,612,Promoções,S,N,N,16552
14,Foto,2021-10-29,14121,184,Datas comemorativas,S,S,N,14305
15,Vídeo,2021-11-04,3646,71,Produtos,N,N,N,3717
16,Reels,2021-11-06,6376,137,Produtos,N,N,N,6513
17,Vídeo,2021-11-09,3213,60,Produtos,N,N,N,3273
18,Reels,2021-11-12,5493,59,Produtos,N,N,N,5552
19,Foto,2021-12-12,16086,268,NaN,S,S,N,16354
20,Foto,2021-12-16,2881,29,Produtos,N,N,N,2910
21,Foto,2021-12-23,8328,93,Produtos,S,N,S,8421
22,Foto,2021-12-26,18097,225,Influenciadores,S,S,N,18322
23,Foto,2021-12-28,8191,94,Influenciadores,S,N,N,8285
24,Vídeo,2021-12-30,17600,383,Trends,S,S,N,17983
25,Foto,2022-01-02,12193,138,Novos Produtos,S,N,S,12331
26,Foto,2022-01-08,24585,354,Datas comemorativas,S,S,S,24939
27,Foto,2022-01-11,16067,265,Novos Produtos,S,N,N,16332
28,Foto,2022-01-15,9936,119,Novos Produtos,S,N,S,10055
29,Foto,2022-01-19,8612,142,NaN,S,N,N,8754
30,Reels,2022-01-24,29981,502,Trends,S,S,N,30483
31,Foto,2022-01-27,10019,103,Novos Produtos,S,N,N,10122
32,IGTV,2022-02-04,9270,222,Dicas de como usar/Produtos,S,N,N,9492
33,Foto,2022-02-06,24655,186,Influenciadores,S,S,N,24841
34,Foto,2022-02-09,20660,292,Influenciadores,S,S,N,20952
35,IGTV,2022-02-10,8556,188,Dicas de como usar/Produtos,S,N,N,8744
36,Foto,2022-02-12,11802,102,Produtos,S,S,N,11904
37,Vídeo,2022-02-13,15219,357,Datas comemorativas,S,S,N,15576
38,Foto,2022-02-15,17687,213,NaN,S,N,N,17900
39,Foto,2022-02-17,37351,502,Promoções,S,S,N,37853
40,Foto,2022-02-21,21621,213,Influenciadores,S,S,S,21834
41,Foto,2022-02-22,12530,90,NaN,S,N,N,12620
42,Foto,2022-02-26,8544,72,Influenciadores,S,S,N,8616
43,Foto,2022-03-04,24399,266,NaN,S,S,N,24665
44,IGTV,2022-03-07,5918,116,Dicas de como usar/Novos Produtos,S,N,N,6034
45,Reels,2022-03-08,19621,275,Trends,S,S,N,19896
46,Foto,2022-03-09,4613,50,Influenciadores,S,N,N,4663
47,IGTV,2022-03-12,5489,77,Dicas de como usar/Novos Produtos,S,N,N,5566
48,Foto,2022-03-20,29084,479,Datas comemorativas/Promoções,S,S,N,29563
49,Foto,2022-03-22,9087,106,NaN,S,S,N,9193
50,Foto,2022-03-26,16551,186,NaN,S,N,N,16737
51,IGTV,2022-03-27,4934,65,Dicas de como usar/Produtos,S,N,N,4999