In [35]:
import pandas as pd

BASE = ("Dados/engajamento_tratado.xlsx")
df = pd.read_excel(BASE)

display(df.head())

,Tipo,Data,Curtidas,Comentários,Tags,Pessoas,Campanhas,Carrossel,Interacoes
0,Foto,2021-09-11,2858,16,Loja,N,N,N,2874
1,Foto,2021-09-11,2930,28,Loja/Produtos,N,N,N,2958
2,Foto,2021-09-11,2807,9,Loja,N,N,N,2816
3,Vídeo,2021-09-12,5115,49,Produtos,N,N,N,5164
4,Foto,2021-09-13,4392,45,Produtos,S,N,N,4437

## Iremos agora realizar agrupamentos:

- Analisando as postagens que mais tiveram curtidas e as que menos tiveram curtidas, nós pudemos perceber que as que tinham mais curtidas, sempre tinham pessoas. Então vamos fazer a análise de quantas curtidas e quantos comentários as postagens tem em média quando tem e quando não tem pessoas

In [36]:
media_curtidas_comentarios =  df.groupby("Pessoas")[["Curtidas", "Comentários"]].mean()
gb_mean_curtidas_comentarios = media_curtidas_comentarios.reset_index()                                            # Utilizamos o reset_index() para devolver "Pessoas" como coluna e não como index nominal

print(gb_mean_curtidas_comentarios.columns)                                                                        # Printando as colunas após o reset_index
display(gb_mean_curtidas_comentarios)                                                                              # Printando o dataframe após o reset_index
print(gb_mean_curtidas_comentarios.index.name)                                                                     # Index nominal. No caso como fizemos o reset_index, ele é nulo
print(gb_mean_curtidas_comentarios.index)

print(media_curtidas_comentarios.index.name)                                                # Index nominal: Pessoas
print(media_curtidas_comentarios.index)
print(media_curtidas_comentarios[["Curtidas","Comentários"]].columns)
display(media_curtidas_comentarios)

Index(['Pessoas', 'Curtidas', 'Comentários'], dtype='object')

  Pessoas      Curtidas  Comentários
0       N   4256.666667    52.833333
1       S  14664.550000   230.500000

None
RangeIndex(start=0, stop=2, step=1)
Pessoas
Index(['N', 'S'], dtype='object', name='Pessoas')
Index(['Curtidas', 'Comentários'], dtype='object')

             Curtidas  Comentários
Pessoas
N         4256.666667    52.833333
S        14664.550000   230.500000

## Adicionando uma nova linha calculada dentro do dataframe, 2 formas:

#### Primeira forma:

##### Etapas:
- Fazer o reset index para transformar os índices em colunas
- A partir daí, criar a linha calculada
- Fazer o pd.concat para adicionar a linha calculada dentro do dataframe original

In [37]:
# Criando novas linhas
print(gb_mean_curtidas_comentarios.columns)

total = gb_mean_curtidas_comentarios.loc[:,["Curtidas", "Comentários"]].sum()                                             # Pegando a Series com o sum() da quantidade de curtidas e comentários

series = pd.Series(["Total", *total], index=gb_mean_curtidas_comentarios.columns)               # Pegando a Series anterior com a soma e adicionando a linha "Total" (essa será a nova linha que será adicionada no dataframe original)

df_total = pd.concat([gb_mean_curtidas_comentarios, series.to_frame().T], ignore_index=True)    # Concatenando a nova linha com o dataframe original

display(df_total)

Index(['Pessoas', 'Curtidas', 'Comentários'], dtype='object')

  Pessoas      Curtidas Comentários
0       N   4256.666667   52.833333
1       S      14664.55       230.5
2   Total  18921.216667  283.333333

#### Segunda forma:

##### Etapas:
- Fazer um .loc com uma linha inexistente (linha que você irá criara)
- Igualar esse .loc com o cálculo que você irá fazer das demais linhas

In [38]:
# OUTRA MANEIRA DE FAZER ISSO, ADICIONAR A NOVA LINHA DIRETAMENTE NO DATAFRAME

df_copia = media_curtidas_comentarios.copy()

df_copia.loc["Total"] = df_copia.loc["N"] + df_copia.loc["S"]

display(df_copia)
print(df_copia.columns)

# Transformando agora os index em colunas (opcional)

df_copia_resetado = df_copia.reset_index()
display(df_copia_resetado)
print(df_copia_resetado.columns)

             Curtidas  Comentários
Pessoas
N         4256.666667    52.833333
S        14664.550000   230.500000
Total    18921.216667   283.333333

Index(['Curtidas', 'Comentários'], dtype='object')

  Pessoas      Curtidas  Comentários
0       N   4256.666667    52.833333
1       S  14664.550000   230.500000
2   Total  18921.216667   283.333333

Index(['Pessoas', 'Curtidas', 'Comentários'], dtype='object')

## Continuando os agrupamentos:

In [50]:
pessoas_campanhas = df.groupby(["Pessoas","Campanhas"])[["Curtidas","Comentários"]].mean()

print("Índices: ")
print(*pessoas_campanhas.index)
print("\n\nÍndices Nominais: ")
print(*pessoas_campanhas.index.names)
print("\n\nColunas de fato: ")
print(*pessoas_campanhas.columns)

###
print("\n\n")
display(pessoas_campanhas)

Índices:
('N', 'N') ('N', 'S') ('S', 'N') ('S', 'S')


Índices Nominais:
Pessoas Campanhas


Colunas de fato:
Curtidas Comentários

                   Curtidas  Comentários
Pessoas Campanhas
N       N           3937.50         53.9
        S           5852.50         47.5
S       N           9923.75        157.8
        S          19405.35        303.2

Por meio da tabela acima, podemos ver que se não temos pessoas, com ou sem campanhas não faz tanta diferença, mas quando temos pessoas, a média já aumenta em si e quando junta pessoas com campanhas, aumenta muito os números!!